@model EvolutionModel

@{
    ViewData["Title"] = "Pokedex";
}

<link rel="stylesheet" href="~/css/EvolutionGetByPokemonId.css" asp-append-version="true" />

<body class="bg-img">
    <div class="container">
        <div>

        </div>
        <div>

        </div>
    </div>
</body>