@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.bg-img {
    background: rgb(227,105,240);
    background: linear-gradient(180deg, rgba(227,105,240,1) 0%, rgba(189,126,194,1) 100%);
}

.title-pokedex {
    padding-top: 13vw;
    display: flex;
    justify-content: center;
}

.title-text-format {
    font-family: 'Fredoka One', cursive;
    font-size: 8vw;
    color: whitesmoke;
}
