@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,900");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button:focus{
  outline: 0;
  outline: none;
}
body{
  font-family: Roboto, sans-serif;
  background: #151515;
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
  color: black;
}
container{
  align-items: center;
  display: flex;
 flex-direction: column;
}
.logo {
  width: 400px;
  height: 300px;
  margin-top: -30px;
  background: url(https://i.imgur.com/Py1eJGT.png) no-repeat;
  background-size: contain;
}
header{
  width: 400px;
  min-height: 580px;
  margin-top: -100px;
  background: #ffcc00;
  padding: 15px;
  border: 10px solid #0074bd;
  border-radius: 15px;
  box-shadow: -5px 5px 0px 5px #043570,inset -3px 3px 0px 3px rgba(0,0,0,0.25);  
}
.titulo{
  width: 80%;
  margin-bottom: 5px;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  text-shadow: -1px, -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}
#reload {
  width: 25px;
  height: 25px;
  font-size: 25px;
  margin-top: -3.5px;
  border: none;
  float: right;
  transition: 100ms;
  background: transparent;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}
#reload:hover{
  color:#0074bd;
}
#reload:active{
  transform: rotate(90deg);
  color: #a68500;
  text-shadow: none;
  }
.quadro{
  width: 100%;
  height: 215px;
  background:
url(https://i.imgur.com/FbIpTsq.png);
background-size:cover;
  border: 5px solid #0074bd;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.71), inset 1px 1px 7px rgba(0,0,0,0.35);
}
.quadro img{
  margin: 10px;
  width: 190px;
  height: 190px;
  filter: contrast(0%);
}
.quadro .acertou{
  filter: none!important;
}
header span{
  width: 100%;
  margin:10px auto 5px;
  font-size: 22px;
  display: block;
  text-transform:uppercase;
  color: #f2f2f2;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}
.descricao{
  margin: 0 0 7px;
}
input{
  width: 100%;
  height: 45px;
  font-size: 18px;
  border: 3px solid #0074bd;
  color: #0074bd;
  padding: 0 15px;
  background: #f2f2f2;
  outline: none;
}
::-webkit- input-placeholder {
  color: #c4c4c4;
}
#enviar{
  width: 70%;
  height: 50px;
  border: 5px solid  #0074bd;
  color: #0074bd;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background: transparent;
  margin: 10px 52.5px;
  position: relative;
  overflow:hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 200ms ease-in-out;

}
#enviar:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #0074bd;
  z-index: -1;
  -webkit-transition: width 200ms ease-out;
  transition: width 200ms ease-out;
}
#enviar:hover{
  color: #FFF;
}
#enviar:hover:after{
  width: 110%;
}
#enviar:active:after{
  background-color: #0f55aa;
}
.marca{
  width: 374px;
  height: 100px;
  opacity:0.25;
  margin: 0 -15px;
  background: url(https://i.imgur.com/QhAGTON.png);
  background-position: 50% 0;
}