@model IEnumerable<PokemonModel>

@{
var PageNext = new Dictionary<string, string>
            {
                { "Page", (Model.ElementAt(1).RelationshipPage +1).ToString()}
            };

var PagePrevious = new Dictionary<string, string>
            {
                { "Page", (Model.ElementAt(1).RelationshipPage -1).ToString()}
            };
}

@{
    ViewData["Title"] = "Pokemons";
}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
<link rel="stylesheet" href="~/css/PokemonIndex.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">

<body class="bg-img">
@if(Model != null)
{
    <div class="container">
        <a asp-controller="Pokemon" asp-action="Index" asp-all-route-data="PagePrevious"><img class="arrow-left" src="~/single-arrow-right.png" ></img></a>
        @foreach (var pokemon in Model)
        {
            <div class="card">
                <h3 class="title">#@pokemon.DexNumber @pokemon.Name</h3>
                <div class="description">
                    <p>@pokemon.Description</p>
                </div>
                <div class="circle">
                    <img src="@pokemon.Image" alt="Pokemon image">
                </div>
            </div>
        }
        <a asp-controller="Pokemon" asp-action="Index" asp-all-route-data="PageNext"><img class="arrow-right" src="~/single-arrow-right.png" ></img></a>
    </div>
}
</body>
