@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/HomeIndex.css" asp-append-version="true" />

<body class="bg-img">
    <div class="logo-home-index">
         <img src="~/controle-de-video-game.png" alt="">
        <h1 class="logo-text-format">Jvvm Games</h1>
    </div>
    <div class="title-home-index">
        <h1 class="title-text-format">PokeWeb_Api</h1>
    </div>
</body>

