@{
    ViewData["Title"] = "Pokedex";
}

<link rel="stylesheet" href="~/css/Pokedex.css" asp-append-version="true" />

<body class="bg-img">
    <div class="title-pokedex">
        <h1 class="title-text-format">Pokedex</h1>
    </div>
</body>